.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    margin-top: 4px !important;
    max-width: max-content !important;
    background: lighten(#e95420, 10%) !important;
}