<!-- Map Div -->
<div #mapViewNode></div>

<div id="sketchPanel">
    <div id="sketchActions" class="d-flex">
        <div (click)="ExportFeatures()" title="Download Platforms" class="esri-icon-download esri-widget--button esri-widget esri-interactive">
        </div>
        <div (click)="ClearSketch()" title="Clear Sketch" class="esri-icon-erase esri-widget--button esri-widget esri-interactive">
        </div>
    </div>
</div>

<div id="measurementDiv" style="display: none;">
    <div id="toolbarDiv" class="d-flex">
        <div id="distance" (click)="distanceMeasurement()" class="esri-widget--button esri-interactive esri-icon-measure-line" title="Distance Measurement Tool" [ngClass]="{
                          'text-primary': measurementWidget.activeTool == 'distance'}">
        </div>
        <div id="area" (click)="areaMeasurement()" class="esri-widget--button esri-interactive esri-icon-measure-area" title="Area Measurement Tool" [ngClass]="{
                          'text-primary': measurementWidget.activeTool == 'area'}">
        </div>
    </div>
</div>