/* You can add global styles to this file, and also import other style files */
html,
body {
    padding: 5px;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: smaller;
}

/* Popup */
.esri-popup__main-container {
    width: 600px;
    /* Increase the width of the popup */
}

.esri-widget__table {
    max-width: 100%;
    max-height: 400px;
    /* Set a maximum height for the table */
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    table-layout: auto;
    /* Allow table to expand to fit content */
}

.esri-widget__table th,
.esri-widget__table td {
    padding: 8px;
    text-align: left;
    max-width: auto;
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.esri-widget__table tr:first-child {
    background-color: orange !important;
    /* Fill the first row with orange color */
    color: white;
    /* Make the text color white for better readability */
}

.no-border,
.no-border:active,
.no-border:disabled,
.no-border:focus {
    border: none !important;
    box-shadow: none !important;
    transition: none !important;
}

.no-effect,
.no-effect:active,
.no-effect:disabled,
.no-effect:focus {
    border-color: var(--bs-border-color) !important;
    //border-radius: 0% !important;
    box-shadow: none !important;
    transition: none !important;
}

// .ng-select,
// .ng-select .ng-select-container,
// .ng-dropdown-panel.ng-select-bottom {
//     border-radius: 0% !important;
// }

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: unset !important;
    box-shadow: none !important;
}

#shapeSelectDD .ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 260px;
}

.rangeControls .form-control,
.rangeControls .form-control:focus {
    border-color: #adadad; // var(--bs-border-color);
    box-shadow: none !important;
}

.form-control.data-valid {
    border-left: 5px solid #42A948 !important;
    /* green */
}

.form-control.data-invalid {
    border-left: 5px solid #a94442 !important;
    /* red */
}

//START: To Hide arrows in number inputs

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

//END: To Hide arrows in number inputs